---
DisableFormat:   false

BasedOnStyle:    LLVM
TabWidth:        4
IndentWidth:     4
UseTab:          Never
ColumnLimit:     120
Language:        Cpp
Standard:        c++20

AccessModifierOffset:                        -4
BreakBeforeBraces:                            Attach
AlignAfterOpenBracket:                        Align
AlignOperands:                                AlignAfterOperator
AlignTrailingComments:                        true
AllowAllParametersOfDeclarationOnNextLine:    true
AllowShortBlocksOnASingleLine:                Empty
AllowShortFunctionsOnASingleLine:             Empty
AllowShortEnumsOnASingleLine:                 false

# We use single line if statements only for "if (condition) return;", unfortunately this is not enforceable
AllowShortIfStatementsOnASingleLine:          WithoutElse

AllowShortLambdasOnASingleLine:               Empty
AlwaysBreakTemplateDeclarations:              Yes
BreakStringLiterals:                          true
SpacesInContainerLiterals:                    false
SpacesInParentheses:                          false
SpacesInSquareBrackets:                       false
SpaceBeforeParens:                            ControlStatements
PointerAlignment:                             Right
ReferenceAlignment:                           Right
EmptyLineBeforeAccessModifier:                Always
Cpp11BracedListStyle:                         true
SpaceBeforeCpp11BracedList:                   false
IndentCaseLabels:                             true
FixNamespaceComments:                         true
KeepEmptyLinesAtTheStartOfBlocks:             false
IncludeBlocks:                                Preserve
---
