---
Checks: >
  -*,
  mpi-*,
  bugprone-*,
  cppcoreguidelines-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  google-*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-identifier-length,
  -google-readability-todo,
  -cppcoreguidelines-special-member-functions,
  -misc-non-private-member-variables-in-classes,
